<div>
<!--   <img src={{}}/> -->
  
  
  {{ section.settings.single_image | image_url: width: 500 }}

  
  
</div>



{% schema %}

{
    "name": "Section name",
    "settings": [
        {
            "type": "image_picker",
            "id": "single_image",
            "label": "Select Image"
        }
    ],
    "presets": [
        {
          "name": "Image Block"
        }
    ]
}

{% endschema %}

{% stylesheet %}



{% endstylesheet %}

{% javascript %}



{% endjavascript %}
