<div>
    <img src={{ section.settings.single_image | image_url: width: 500 }}/>

</div>


{% schema %}

{
    "name": "CT Gallery",
    "settings": [
        {
            "type": "image_picker",
            "id": "single_image",
            "label": "Select Image"
        }, {
            "type": "text",
            "id": "single_image_title",
            "label": "Image Headding",
        }
    ],
    "presets": [
        {
            "name": "Image Block"
        }
    ]
}

{% endschema %}

{% stylesheet %}



{% endstylesheet %}

{% javascript %}



{% endjavascript %}
